<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    
    <style>
        .dropdown-toggle::after {
            display: none !important; /* Hide the dropdown arrow */
        }
        .icon-container {
            position: relative;
            display: inline-block;
        }
        .icon-container i {
            font-size: 3rem; 
        }
        .icon-container span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: red; 
            font-size: 1rem; 
            text-align: center;
            width: 100%;
            font-weight: bold;
        }
        a {
            text-decoration: none; 
        }
        li a:hover{
            border: 2px solid red;
            background-color: aqua;
            text-decoration: none;
        }
        .nav-item.active {
            border: 2px solid red;
            background-color: aqua;
        }
        li a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'users:HomeView' %}">GVHS</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 100px;">
                {% if user.role == 'admin' %}<li class="nav-item me-3 mt-3"><a href="{% url 'management:AdminListView' %}">Management</a></li>{% endif %}
                <li class="nav-item me-3 mt-3"><a href="{% url 'student:StudentListView' %}">Student</a></li>
                {% if user.role != 'librarian' %}<li class="nav-item me-3 mt-3"><a href="{% url 'staff:StaffListView' %}">Staff</a></li>{% endif %}
                <li class="nav-item me-3 mt-3"><a href="{% url 'librarian:BookListView' %}">Book</a></li>
                <li class="nav-item me-3 mt-3"><a href="{% url 'librarian:LibraryRecordListView' %}">Library Record</a></li>
                {% if user.role == 'admin' %}<li class="nav-item me-3 mt-3"><a href="{% url 'student:FeeDetailsListView' %}">Fees</a></li>{% endif %}
                <li class="nav-item me-3 mt-3"><a href="{% url 'student:FeeHistoryListView' %}">Fees History</a></li>
            </ul>
            <div class="collapse navbar-collapse">
                <div class="dropdown login-btn ms-auto">
                    <a class="d-inline-block dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ user.profile_pic.url }}" alt="Profile Picture" style="border-radius: 50%;" height="40px" width="40px">
                    </a>        
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>{% if user.role == 'admin' %}<a class="dropdown-item" href="{% url 'users:AdminProfileUpdateView' user.pk %}"> Profile</a>{% elif user.role != 'admin' %}<a class="dropdown-item" href="{% url 'users:StaffProfileUpdateView' staff.pk %}"> Profile</a></a>{% endif %}</li>
                        <li><a class="dropdown-item" href="{% url 'users:UserChangePasswordView' %}">Change Password</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:LogoutView' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'users:HomeView' %}">GVHS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 100px;">
                    {% if user.role == 'admin' %}
                        <li class="nav-item me-3"><a class="nav-link" href="{% url 'management:AdminListView' %}">Management</a></li>
                    {% endif %}
                    <li class="nav-item me-3"><a class="nav-link" href="{% url 'student:StudentListView' %}">Student</a></li>
                    {% if user.role != 'librarian' %}
                        <li class="nav-item me-3"><a class="nav-link" href="{% url 'staff:StaffListView' %}">Staff</a></li>
                    {% endif %}
                    <li class="nav-item me-3"><a class="nav-link" href="{% url 'librarian:BookListView' %}">Book</a></li>
                    <li class="nav-item me-3"><a class="nav-link" href="{% url 'librarian:LibraryRecordListView' %}">Library Record</a></li>
                    {% if user.role == 'admin' %}
                        <li class="nav-item me-3"><a class="nav-link" href="{% url 'student:FeeDetailsListView' %}">Fees</a></li>
                    {% endif %}
                    <li class="nav-item me-3"><a class="nav-link" href="{% url 'student:FeeHistoryListView' %}">Fees History</a></li>
                </ul>
                
            </div>
            <div class="dropdown login-btn ms-auto">
                <a class="d-inline-block dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ user.profile_pic.url }}" alt="Profile Picture" style="border-radius: 50%;" height="40px" width="40px">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        {% if user.role == 'admin' %}
                            <a class="dropdown-item" href="{% url 'users:AdminProfileUpdateView' user.pk %}">Profile</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'users:StaffProfileUpdateView' staff.pk %}">Profile</a>
                        {% endif %}
                    </li>
                    <li><a class="dropdown-item" href="{% url 'users:UserChangePasswordView' %}">Change Password</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:LogoutView' %}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    {% block content %}  <h1 class="mt-5">WELCOME {% if user.role == 'admin' %} Admin {% elif user.role == 'office' %}Staff {% else %}librarian{% endif %}</h1>  {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  

</body>
</html>
